services:
  localstack:
    image: localstack/localstack:latest
    environment:
      SERVICES: sqs,dynamodb,ses,scheduler,events,s3,s3control
      DEBUG: 1
      AWS_DEFAULT_REGION: us-east-1
      PERSISTENCE: 1
    ports:
      - "4566:4566"
    volumes:
      - localstack_data:/var/lib/localstack
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:4566/_localstack/health"]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    environment:
      - DYNAMODB_USERS_TABLE=${DYNAMODB_USERS_TABLE}
      - S3_BUCKET_NAME=${S3_BUCKET_NAME}
      - API_V1_PREFIX=${API_V1_PREFIX}
      - APP_NAME=${APP_NAME}
      - ENVIRONMENT=${ENVIRONMENT}
      - DEBUG=${DEBUG}
      - LOG_LEVEL=${LOG_LEVEL}
      - AWS_REGION=${AWS_REGION}

    env_file:
      - .env
    volumes:
      - .:/app
    depends_on:
      - localstack
    command: uvicorn entrypoints.asgi:app --host 0.0.0.0 --port 8000 --reload

  dynamodb-ui:
    image: aaronshaf/dynamodb-admin:latest
    env_file:
      - .env
    ports:
      - "8001:8001"
    restart: unless-stopped
    depends_on:
      localstack:
        condition: service_healthy

networks:
  servidor-network:
    driver: bridge

volumes:
  localstack_data:
